<!DOCTYPE html>
<html>
<head>
	<title>API list</title>
</head>
<body>
	Available Requests to Server
	<ul>
		<li>GET /</li>
		<li>GET /api</li>
		<li></li>
		<li>GET /user</li>
		<li>GET /user/id/:id</li>
		<li>POST /user</li>
		<li>PUT /user/:userId</li>
		<li></li>
		<li>GET /room</li>
		<li>GET /room/title/:title</li>
		<li>GET /room/makerId/:makerId</li>
		<li>GET /room/mealType/:mealType</li>
		<li>GET /room/user/:user</li>
		<li>POST /room</li>
		<li>PUT /room/:roodId</li>
		<li>PUT /room/addUser/:roomId</li>
		<li></li>
		<li>GET /message</li>
		<li>GET /message/bangjang/:bangjang</li>
		<li>GET /message/requester/:requester</li>
		<li>POST /message</li>
		<li>PUT /message/:roomId/:requester</li>
	</ul>
</body>
</html>
